# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/Xcode related
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS related
**/macos/Flutter/Flutter.framework
**/macos/Flutter/Flutter.podspec
**/macos/.symlinks/
**/macos/Pods/
**/macos/Runner/GeneratedPluginRegistrant.*

# Windows related
**/windows/flutter/ephemeral/

# Linux related
**/linux/flutter/ephemeral/

# Web related
**/web/.dart_tool/

# VS Code related
.vscode/

# IntelliJ related
.idea/

# Miscellaneous
*.log
*.lock
*.tmp
*.swp
env
