<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByuWw26RkZIYotWkbsVMBpCV3kam63_rs</string>
	<key>GCM_SENDER_ID</key>
	<string>860456425765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dadoseconomicos6.app</string>
	<key>PROJECT_ID</key>
	<string>dados-eco</string>
	<key>STORAGE_BUCKET</key>
	<string>dados-eco.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860456425765:ios:b7dcc6b05006f5c7ba22cc</string>
</dict>
</plist>